 html,* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

  body {
    background-color: #000000;
  
  }
  

  .titulo {
    color: rgb(255, 255, 255);
    margin: 2rem;
    font-size: 2rem;
    font-family: serif ;
  }

  .uma-div {
    position: relative;
    width: 104%;
    
  } 

  .center {
    max-width: 1283px;
    margin: 0 auto;
    padding: 0 2%;

  }


  .clear {clear: both}


  header {
    background: rgb(247, 2, 2);
    max-height: 15rem;
    margin-left: -2%;
    margin-right: -2% ; 
  }


  .header-left {
    float: left;
  }

  /* logo */
  .header-left img {
    max-width: 110px;
    
  }


  .menu-header {
    display: inline-block;
    margin-left: 70px;
  }


  .menu-header li {
    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 20px;
    margin: 15px;
   
  }

  .menu-he {
    width: 300px;
    height: 300px;
    margin-right: 10rem;
    
  }


  .menu-header a {
    color: rgb(255, 253, 253);
    text-decoration: none;
    font-size: 16px;
  }

  /*  */

  .header-right a {
    float: right;
    margin: 50px;
    
  }


  .header-right li {
    width: 300px;
    height: 300px;
  }


  .fot {   
    width: 30px;
    height: 30px;
    margin-right: -2rem;
    
  }
  /* .search  {
    cursor: pointer;
    color: rgb(252, 252, 252);
    font-size: 10px;
    font-weight: bold;
  } */

  /* geral */
  .box-geral {
    position: relative;
    max-width: 1283px;
    margin: 0 auto;
    padding: 0 2%;
    /* background-color: #0dffeb; */
  }



  .conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2%;
    position: relative;
    /* justify-content: space-around; */
      /* background-color: #fbff0d; */
  }

  .conteiner-filmes {
   display: flex;
   flex-direction: column;
   width: 100%; 
  }



/* caixa filmes,series,titulos, discrição. */
  .box_content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1px 0;
    background-color: #fd6efd;
 }



  .box-descricao {
    display: flex;
      flex-direction: column;
      margin: 0rem;
      width: 100%;
      
      /* background-color: #f8323c; */
  }



  /* titulos */
  .netflixTitles{
    font-weight: bold;
    font-size: 16px;
    color: rgb(250, 250, 250); 
    width: 15rem;
    margin: 0rem;
    /* background-color: #0ffd1b; */
  } 




  /* datas */
  .releaseDate_now{
   text-decoration: underline;
    color: white;
   font-size: 10px;
   width: 15rem;
    margin: 1rem;
   /* background-color: #6352f8; */
  }




  /* imagem */
  .box-imagem {
    width: 50%;
    height: 50%;
    background-color: rgb(175, 30, 175);
  }



  /* imagem2 */
  .netflixImages {
    
      width: 60%;
      margin: 1rem;

    }


  

 .let {
  /* text-decoration: underline; */
     color: rgb(255, 255, 255);
      margin: 1rem;
      font-size: 12px;
      /* background-color: #032552; */
 }

  